*{
    box-sizing: border-box;
}
.container{
    background-color: #C0BFCF;
    width: 30%;
    margin: 6% auto;
}
h2{
    text-align: center;
    padding: 80px 0px 20px 0px;
    color: #292188;
}
.row{
    text-align: center;
    padding: 10px;
}

.row [type="text"], [type="email"], [type="password"]{
    border: none;
    border-bottom:1px solid #000000;
    background-color: #C0BFCF;
    width: 65%;
}
[type="submit"]{
    background-color: #292188;
    border: none;
    color: #fff;
    padding: 10px 0px;
    width: 50%;
    border-radius: 8px;
    margin: 40px 0px 70px 0px;
    font-weight: 800;
    font-size: 18px;
}
::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
@media screen and (max-width: 592px) {
    [type="submit"]{
        width: 85%;
    }
}
